<!doctype html>
<html>
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} Corey Stark</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css">
  {% if page.customCSS %}
	<link rel="stylesheet" type="text/css" href="/assets/css/custom/{{ page.customCSS }}" />
  {% endif %}
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript" src="//use.typekit.net/wpw2zdl.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/assets/js/fittext.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
