.postings {
  display: inline-block;
  overflow: hidden;
  padding: 40px 0px;
  font-size: 0;
  width: 100%;

  li {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: calc(98%/3);
    @include font-size (1.4);
    margin-bottom: 20px;
    margin-right: 1%;
    opacity: 1;
    transition: opacity .1s ease-in;
    text-align: center;

    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 2px;
      margin-bottom: 10px;
      display: block;
    }

    &:hover {
      opacity: .8;
    }
  }

  li:nth-child(3n) {
    margin-right: 0;
  }

  a .article-title {
    display: inline-block;
    color: #333;
    @include font-size(1.7);
    margin-bottom: 2px;
    font-weight: $weight-bold;
  }

  .article-date {
    color: rgba(#333, .4);
  }
}

@media #{$mobile} {
  .content li {
    width: 100%;
    margin-right: 0;

    &:last-child {
      margin-right: auto;
    }
  }
}
