@mixin vertical-align {
  position: relative;
  top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    overflow: hidden;
}

@mixin font-size($multiplier: 1) {
  font-size: $font-size*$multiplier;
}

@mixin line-height($multiplier: 1) {
  line-height: $line-height*$multiplier;
}

@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $primary;
    }

    ::-webkit-scrollbar-track {
        background: $secondary;
    }

  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

@mixin page-width {
  width: 100%;
  max-width: $page-width;
  padding-left: $spacing;
  padding-right: $spacing;
  margin-left: auto;
  margin-right: auto;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin show-size {
  width: 100%;
  height: 80%;
}

@mixin half-size {
  width: 100%;
  height: 50%;
}

@mixin third-size {
  width: 100%;
  height: 33%;
}

@mixin quarter-size {
  width: 100%;
  height: 25%;
}
