@import "compass/css3";
@import "normalize";
@import "base";
@import "mixins";
@import "settings";
@import "syntax";
@import "fontello";
@import "authorings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  @include full-size;
}

$primary: #3369e8;

body {
  font-family: $font-sans;
  color:$text-color;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

p {
  font-family: $font-sans;
  font-size: 15px;
  line-height: 1.7em;
  max-width: 800px;
  color: #333;
}

a {
  color: $primary;
  transition: color .2s ease-in;

  &:hover {
    color: lighten($primary, 20%);
  }
}

.tweet {
  background: red;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: $font-sans;
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: -0.02em;
}

header {
  font-size: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow:0 4px 0 rgba(#000,.3);
  background:#212121;
  @include background(linear-gradient(#212121,#222));
  border:1px solid #111;
  padding:0 25px;
  overflow:hidden;
  z-index:1;

  .title {
    color:#fff;
    text-decoration:none;
    font-weight:normal;
    float:left;
    padding:20px 0px;

    &:hover {
      color: lighten($primary, 20%);
    }
  }

  nav {
    overflow:hidden;

    ul {
      float:right;
      margin:0;
      padding:0 0 0 1px;
      list-style:none;
      border-left:1px solid #333;
      border-right:1px solid #333;
    }

    li {
      font-size: 0em;
      float:left;
      border-left:1px solid #111;
      border-right:1px solid #111;
      margin-left:-1px;
      transition: background .2s ease-in;
      transition: font-size .2s ease-in;

      &:hover {
        background: #111;
        font-size: .9em;

        .octicon {
          margin-right: 5px;
        }
      }
    }

    a {
      display:block;
      padding:20px;
      text-decoration:none;
      color:#999;
      border-left:1px solid #333;
      border-right:1px solid #333;
      transition: color .2s ease-in;

      &:hover {
        color:#fff;
      }
    }
  }
}

img {
  display: inline-block;
  max-width: 100%;
}

article {
  display: block;
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.article-header {
  background: #efefef;
  height: 0;
  min-height: 80px;
  max-height: 800px;
  margin-bottom:55px;
}

.page-navigation {
  font-size: .9em;
  @include box-shadow(inset 0 1px 0 rgba(#000, .05));
  display: inline-block;
  width: 100%;
  padding: 30px;

  .right {
    width: 100%;
    float: right;
    max-width: 49%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .left {
    width: 100%;
    float: left;
    max-width: 49%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

p {
  color: rgba(#000, .6);
  font-size: 20px;
  line-height: 1.7em;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  max-width: 100%;
}

a.button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 18px;
  text-align: center;
  background: $primary;
  border-radius: 3px;
  border: 1px solid darken($primary, 10%);
  color: #fff;
  transition: background .2s ease-in;
  width: 100%;
  max-width: 300px;

  &:hover {
    color: #fff;
    background: darken($primary, 10%);
  }

  &.home {
    margin: 20px 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 420px) {

  header {
    nav a, nav ul {
      border: none;
    }

    nav ul li {
      border: none;
      box-shadow: none;
      margin-right: -20px;

      &.github {
        display: none;
      }
    }
  }

  .page-navigation {
    .right, .left {
      display: inline-block;
      float: none;
      width: 100%;
      max-width: 100%;
      text-align: center;
      padding: 5px 0;
    }
  }

  article {
    padding: 0 15px;
  }
}
