.highlight     {
  background:#333;
  margin:20px auto;
  padding:25px 40px;
  font:14px/1.4 monospace;
  color:#E6E0DB;
  overflow:auto;
  border-radius: 2px;
}

.highlight pre {margin:0; padding:0; overflow:visible;}
.highlight br  {display:none;}
.highlight .an {color:#E7BE69;}                      /* html attribute */
.highlight .c  {color:#BC9358; font-style: italic;}  /* comment */
.highlight .ch {color:#509E4F;}                      /* escaped character */
.highlight .cl {color:#FFF;}                         /* class */
.highlight .co {color:#FFF;}                         /* constant */
.highlight .fl {color:#A4C260;}                      /* float */
.highlight .fu {color:#FFC56D;}                      /* function */
.highlight .gv {color:#D0CFFE;}                      /* global variable */
.highlight .i  {color:#A4C260;}                      /* integer */
.highlight .il {background:#333;}                    /* inline code */
.highlight .iv {color:#D0CFFE;}                      /* instance variable */
.highlight .pp {color:#E7BE69;}                      /* doctype */
.highlight .r  {color:#CB7832;}                      /* keyword */
.highlight .rx {color:#A4C260;}                      /* regex */
.highlight .s  {color:#A4C260;}                      /* string */
.highlight .sy {color:#d78a3c;}                      /* symbol */
.highlight .ta {color:#E7BE69;}                      /* html tag */
.highlight .pc {color:#6C9CBD;}                      /* boolean */
.highlight .ke {color:#d78a3c;}
.highlight .cr {color:#76aac7;}
.highlight .di {color:#e35d41;}
.highlight .er {color:#ebfee3;}

code.highlight                    {font-weight:bold;}
code span.brackets                {font-weight:bold;}
code span.comment                 {color:#999;}
code span.keywords,
code span.tag                     {color:#8C4A1C;}

code.javascript span.string,
code.css span.urls,
code.css span.selectors,
code.ruby span.string,
code span.instance                {color:#03c;}

code.javascript span.global,
code.css span.properties,
code.ruby span.symbol,
code span.method                  {color:#2c85cc;}